.adjustRemaining{
    display: flex;
    flex-direction: column;
}

@media(max-width:767px){
    .adjustRemaining{
        display: none;
    }
    .videoDetails{
        width: max-content;
    }
    .video{
        height: 300px;
    }
}

.remainingVideo{
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: gray ;
    scrollbar-color: gray var(--color-gray-900);
    
}



